.header {
	background:$off-black;
	color:#fff;
	margin-bottom: $xl-size;
	padding:$m-size 0;
}
//BEM - Block Element modifier
.header__title {
	font-size : $l-size;
	margin:0;
}

.header___subtitle {
	color:$off-white;
	font-size:$m-size;
	font-weight:500;
	margin:0;
}